* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
}

/* To make your forms appearance consistent with the rest of your content */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* To give the same size to several different widgets */

input,
textarea,
select,
button {
  width: 200px;
  padding: 0;
  margin: 0;
}

#container {
    margin-top: 100px;
    /* border: 1px solid yellowgreen; */
    height: 70%;
    display: flex;
    width: 1400px;
}

#leftDiv {
    /* border: 1px solid teal; */
    flex: 1.5;
    background-image: url(./images/caroline-lm-QA9fRIi6sFw-unsplash.jpg);
    background-size: cover;
    background-position-x:center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#rightDiv {
    /* border: 1px solid red; */
    flex: 2;
    background-color: white;
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#leftDiv div {
    display: flex;
    /* border: 1px solid burlywood; */
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.300);
}

footer {
    /* margin-top: auto; */
    margin-bottom: 10px;
    align-self: center;
    font-size: 0.7rem;
    /* border: 1px solid blue; */
    color: whitesmoke;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}

div>img {
    transform: scaleX(-1);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(750%) contrast(100%);
    width: auto;
    height: 75px;
}

header p {
    font-weight: bold;
    padding: 100px 80px 0 80px;
    /* margin-top: 50px; */
}

label {
    font-size: 0.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #5a5a5a;
}

section {
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    gap: 50px;
    /* border: 1px solid black; */
    padding: 0 0 30px 80px;
    margin: 0;
}

form>section:last-child {
    padding: 20px 80px;
}

h3 {
    padding: 0 0 0 80px;
    /* border: 1px solid salmon; */
    margin: 0;
}

form>div:first-child {
    display: flex;
    gap: 0;
    flex-direction: column;
    padding: 20px 0 0 0;
    box-shadow: 0px 5px 13px 0px rgba(181,181,181,0.82);
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    appearance: none;
    font-size: 12px;
    line-height: 1.5rem;
    padding: 2px 5px;
    outline: none;
}

button {
    width: 175px;
    padding: 12px 10px;
    font-size: 12px;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgb(112, 112, 172);
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

button:disabled {
    background-color: rgba(112, 112, 172, 0.637);
    width: 150px;
}

button+p {
    font-size: 12px;
}

p>a {
    text-decoration: none;
    color: rgb(112, 112, 172);
    font-weight: bold;
}

input:focus {
    box-shadow: 3px 3px 5px 0px rgba(180,180,180,0.80);
    border-color: rgb(112, 112, 172);
    
}

input:invalid {
    border-color: red;
}

#errMsg {
    position: relative;
}

.errMsg::after {
    position: absolute;
    content: "* Passwords do not match";
    font-size: 0.6rem;
    color: red;
}



.error {
    border-color: red;
}





